@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

$color-red: hsl(0, 100%, 68%);
$color-light: hsl(207, 33%, 95%);
$color-gray: hsl(231, 7%, 65%);
$color-dark-1: hsl(230, 11%, 40%);
$color-dark-2: hsl(230, 29%, 20%);

$heading-font: 'Barlow Condensed', sans-serif; //HEADING CTA NAVIGATION
$body-font: 'Barlow', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    position: relative;
    box-sizing: border-box;
    color: $color-dark-2;
    line-height: 1.7;
    font-size: 1.8rem;
    font-family: $body-font;
    &.menu__open {
        @media (max-width:768px) {
            overflow: hidden;
        }
    }
}

ul {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    text-transform: uppercase;
    padding: 1rem 1.7rem;
    font-family: $heading-font;
    color: #ffffff;
    border-radius: 0.4rem;
    &__cta {
        background-color: $color-red;
        transition: 0.2s ease-in-out;
        &:hover {
            background-color: rgba($color-red,0.8);
        }
    }
}

.hide-on__desktop {
    @media (min-width:769px) {
        display: none;
    }
}

@mixin navlink {
    font-family: $heading-font;
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-dark-2;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    &:hover {
        text-decoration: underline;        
    }
}

.title {
    font-family: $heading-font;
    color: $color-dark-2;
    text-transform: uppercase;
    font-weight: 700;
    &__main {
        font-size: 6.2rem;
        @media (max-width:425px) {
            font-size: 4rem;
        }
    }
}

body.menu__open {
    @media (max-width:768px) {
        .header{
            .nav {
                .menu__trigger--close {
                    display: list-item;
                }
                .menu__trigger--open {
                    display: none;
                }
            }
            #mobile__nav {
                display: flex;
            } 
        }
    }
}

.header {
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 55%;
        background-color: $color-light;
        z-index: -1;
        border-bottom-left-radius: 5rem;
    }
    #mobile__nav {
        position: absolute;
        top: 10rem;
        z-index: 9999;
        display: flex;
        justify-content: center;
        width: calc(100% - 4rem);
        text-align: center;
        display: none;
        ul {
            width: 100%;
            padding: 2rem;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 0.3rem;
            box-shadow: 0px 10px 25px 15px rgba($color-dark-1, 0.4);
            li {
                .nav__link {
                    @include navlink;
                }
                &.line__after {
                    border-bottom: 1px solid $color-light;
                }
                &:not(:last-child) {
                    padding-bottom: 2rem;
                }
                &:last-child {
                    padding-top: 2rem;
                    .nav__link {
                        color: $color-gray;
                    }
                }
            }
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 0;

        ul {
            display: flex;
            align-items: center;
            .menu__trigger--close {
                display: none;
            }
            .nav__item {
                &:not(:last-child) {
                    padding-right: 2.8rem;
                }
                @media (max-width:768px) {
                    display: none;
                }
                .nav__link {
                    @include navlink;
                }

                &:last-child {
                    .nav__link {
                        display: flex;
                        align-items: center;
                        span.dot {
                            width: .6rem;
                            height: .6rem;
                            border-radius: 100%;
                            background-color: $color-gray;
                            margin-right: 3rem;
                        }
                        color: $color-gray;
                    }
                }

            }
            
        }
        
    }
    .hero {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        @media (max-width:768px) {
            flex-direction: column;
        }
        & > div {
            flex: 0 0 50%;
        }
       
        &__content {
            padding: 9rem 0;
            @media (max-width:768px) {
                align-self: flex-start;
            }
        }
        .title__top {
            display: flex;
            align-items: center;
            color: $color-dark-1;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            letter-spacing: 2px;
            .new {
                border-radius: 5rem;
                padding: .2rem .7rem;
                background-color: $color-dark-2;
                color: #ffffff;
                letter-spacing: 0px;
                margin-right: 1.8rem;
            }
        }
        .title.title__main {
            max-width: 57rem;
            line-height: 1.2;
            margin-bottom: 2rem;
        }
        p.paragraph {
            max-width: 28rem;
            font-size: $heading-font;
            color: $color-dark-1;
            margin-bottom: 4rem;
        }
        .cta__wrapper {
            span {
                margin-left: 2rem;
                text-transform: uppercase;
                color: $color-dark-1;
                font-size: 1.5rem;
                letter-spacing: 2px;
            }

        }

        &__image {
            position: absolute;
            left: 50%;
            @media(max-width:768px) {
                left:-4.3rem;
                width: 100%;
                position: relative;
                order: -1;
            }
        }
       
    }
}