@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  position: relative;
  line-height: 1.7;
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.6rem;
  color: #9095a7;
  background-image: url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: 110vh -10vw;
  background-size: auto;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

input {
  font-family: inherit;
  font-size: 1.57rem;
  color: #f25f3a;
  padding: 1.3rem 1.4rem;
  border-radius: 5rem;
  border: 0.1rem solid #ffffff;
  background-color: #ffffff;
  font-weight: 500;
}
input::placeholder {
  color: #9095a7;
  font-weight: 500;
}
input:focus {
  outline: none;
}

.btn {
  padding: 1.2rem 3rem;
  font-weight: 500;
  border-radius: 5rem;
  font-size: 1.5rem;
}
.btn__primary {
  background-color: #f25f3a;
  color: #fafafa;
  box-shadow: 0 0.7rem 1rem 0 rgba(242, 95, 58, 0.5);
  transition: 0.2s ease-in-out;
}
.btn__primary:hover {
  background-color: rgba(242, 95, 58, 0.78);
}
.btn__light {
  background-color: #fafafa;
  color: #f25f3a;
  transition: 0.2s ease-in-out;
}
.btn__light:hover {
  color: rgba(242, 95, 58, 0.7);
}
.btn__small {
  background-color: #f25f3a;
  color: #fafafa;
}
.btn__small:hover {
  background-color: #f58f76;
}

.title {
  color: #1d1e25;
  line-height: 1.2;
  font-weight: 700;
}
.title__main {
  font-size: 5.2rem;
}
@media (max-width: 375px) {
  .title__main {
    font-size: 3.8rem;
  }
}
.title__medium {
  font-size: 3.8rem;
}
@media (max-width: 375px) {
  .title__medium {
    font-size: 3.2rem;
  }
}
.title__small {
  font-size: 1.8rem;
}
@media (max-width: 375px) {
  .title__small {
    font-size: 1.5rem;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 769px) {
  .show-in--mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .show-in--desktop {
    display: none;
  }
}

.header {
  padding-bottom: 5rem;
}
.header .nav {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header .nav .navigation__item {
    display: none;
  }
  .header .nav .btn.btn__primary {
    display: none;
  }
}
.header .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navigation__item:not(:last-child) {
  padding-right: 2rem;
}
.header .navigation__link {
  font-size: 1.6rem;
  color: #1d1e25;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.header .navigation__link:hover {
  color: #9095a7;
}
.header .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header .hero {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header .hero__content {
    text-align: center;
  }
}
.header .hero__content .title.title__main {
  max-width: 48rem;
  margin-bottom: 3rem;
}
.header .hero__content p.paragraph {
  max-width: 34rem;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .header .hero__content p.paragraph {
    margin: 0 auto 5rem;
  }
}
.header .hero__image {
  flex-basis: 50%;
  padding-bottom: 50%;
  background-image: url("../images/illustration-intro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
@media (max-width: 768px) {
  .header .hero__image {
    flex-basis: auto;
    width: 98%;
    background-position: center;
  }
}

.two-container {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 30rem left -94%;
}

.different {
  padding: 5rem 0;
}
.different .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .different .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.different__header {
  flex-basis: 50rem;
}
@media (max-width: 768px) {
  .different__header {
    flex-basis: auto;
    max-width: 50rem;
    text-align: center;
    margin-bottom: 4rem;
  }
}
.different__header .title.title__medium {
  margin-bottom: 3rem;
}
.different__header p.paragraph {
  max-width: 34rem;
}
@media (max-width: 768px) {
  .different__header p.paragraph {
    max-width: 100%;
  }
}
.different__list {
  flex-basis: 53rem;
}
@media (max-width: 768px) {
  .different__list {
    flex-basis: auto;
    max-width: 50rem;
  }
}
.different__list li {
  display: flex;
  align-items: baseline;
  position: relative;
}
.different__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2rem;
  width: calc(100% - 2rem);
  height: 3.7rem;
  background-color: #FFF0EC;
  z-index: -1;
}
.different__list li .number {
  background-color: #f25f3a;
  text-align: center;
  width: 10rem;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
  color: #fafafa;
  font-weight: 700;
}
.different__list li .content {
  padding-left: 3rem;
}
@media (max-width: 768px) {
  .different__list li .content {
    padding-left: 0;
  }
}
.different__list li .content .title.title__small {
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .different__list li .content .title.title__small {
    padding-left: 1rem;
  }
}
.different__list li .content p.paragraph {
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .different__list li .content p.paragraph {
    margin-left: -5.8rem;
  }
}
.different__list li:not(:last-child) {
  margin-bottom: 3rem;
}

.testimonial {
  padding: 5rem 0;
  padding-bottom: 15rem;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 768px) {
  .testimonial {
    padding-bottom: 6rem;
  }
}
.testimonial .title.title__medium {
  text-align: center;
  margin-bottom: 10rem;
}
.testimonial .slider__list {
  display: flex;
  align-items: baseline;
  margin-bottom: 5rem;
  transition: transform 0.7s ease-in-out;
}
@media (min-width: 681px) {
  .testimonial .slider__list {
    transform: translateX(2rem);
  }
  .testimonial .slider__list--show-1 {
    transform: translateX(2rem);
  }
  .testimonial .slider__list--show-2 {
    transform: translateX(-48rem);
  }
  .testimonial .slider__list--show-3 {
    transform: translateX(-99rem);
  }
  .testimonial .slider__list--show-4 {
    transform: translateX(-150rem);
  }
}
@media (max-width: 680px) {
  .testimonial .slider__list {
    transform: translateX(1rem);
  }
  .testimonial .slider__list--show-1 {
    transform: translateX(1rem);
  }
  .testimonial .slider__list--show-2 {
    transform: translateX(-30rem);
  }
  .testimonial .slider__list--show-3 {
    transform: translateX(-62rem);
  }
  .testimonial .slider__list--show-4 {
    transform: translateX(-94rem);
  }
}
@media (max-width: 375px) {
  .testimonial .slider__list {
    margin-bottom: 2.2rem;
    transform: translateX(0.5rem);
  }
  .testimonial .slider__list--show-1 {
    transform: translateX(0.5rem);
  }
  .testimonial .slider__list--show-2 {
    transform: translateX(-41rem);
  }
  .testimonial .slider__list--show-3 {
    transform: translateX(-84rem);
  }
  .testimonial .slider__list--show-4 {
    transform: translateX(-126rem);
  }
}
.testimonial .slider__list li {
  position: relative;
  margin-right: 3rem;
  text-align: center;
  padding: 6rem 4rem 3rem;
  background-color: #fafafa;
  border-radius: 0.1rem;
}
@media (min-width: 681px) {
  .testimonial .slider__list li {
    flex: 0 0 50.8rem;
  }
}
@media (max-width: 680px) {
  .testimonial .slider__list li {
    flex: 0 0 32rem;
  }
}
@media (max-width: 375px) {
  .testimonial .slider__list li {
    margin-right: 10rem;
  }
}
.testimonial .slider__list li img {
  position: absolute;
  top: -3.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 7.2rem;
  height: 7.2rem;
}
.testimonial .slider__list li .title.title__small {
  margin-bottom: 1.2rem;
}
.testimonial .slider__list li p.paragraph {
  font-size: 1.5rem;
}
.testimonial .slider__list--show-1 + .slider__pagination li:nth-child(1) {
  background-color: #f25f3a;
}
.testimonial .slider__list--show-2 + .slider__pagination li:nth-child(2) {
  background-color: #f25f3a;
}
.testimonial .slider__list--show-3 + .slider__pagination li:nth-child(3) {
  background-color: #f25f3a;
}
.testimonial .slider__list--show-4 + .slider__pagination li:nth-child(4) {
  background-color: #f25f3a;
}
.testimonial .slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
@media (min-width: 376px) {
  .testimonial .slider__pagination {
    display: none;
    margin-bottom: 0;
  }
}
.testimonial .slider__pagination li {
  border: 0.2rem solid #f25f3a;
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  transition: 0.2s ease-in-out;
}
.testimonial .slider__pagination li:not(:last-child) {
  margin-right: 1rem;
}
.testimonial .slider__pagination li a {
  display: flex;
  height: 1rem;
}

.simplify {
  padding: 6rem 0;
  background-color: #f25f3a;
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
@media (max-width: 768px) {
  .simplify {
    background-image: url("../images/bg-simplify-section-mobile.svg");
  }
}
.simplify .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .simplify .container {
    flex-direction: column;
  }
}
.simplify .container .title.title__medium {
  flex-basis: 48rem;
  color: #ffefeb;
}
@media (max-width: 768px) {
  .simplify .container .title.title__medium {
    flex-basis: auto;
    text-align: center;
    max-width: 50rem;
    margin-bottom: 2rem;
  }
}

.footer {
  padding: 4rem 0;
  background-color: #1d1e25;
}
.footer .footer__links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 768px) {
  .footer .footer__links {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.footer .footer__links-icons {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  margin-right: 3rem;
}
@media (max-width: 768px) {
  .footer .footer__links-icons {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.footer .footer__links-icons .social__icon {
  display: flex;
}
@media (max-width: 768px) {
  .footer .footer__links-icons .social__icon {
    margin: 4rem 0;
  }
}
.footer .footer__links-icons .social__icon li a svg path {
  transition: 0.2s ease-in-out;
}
.footer .footer__links-icons .social__icon li a:hover svg path {
  fill: #f25f3a;
}
.footer .footer__links-icons .social__icon li:not(:last-child) {
  margin-right: 1.3rem;
}
@media (max-width: 768px) {
  .footer .footer__links-icons .social__icon li:not(:last-child) {
    margin-right: 3.3rem;
  }
}
.footer .footer__links-quick {
  flex-basis: 40rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer__links-quick {
    flex-basis: auto;
    width: 100%;
    justify-content: space-between;
    max-width: 30rem;
    margin: 3rem auto;
  }
}
.footer .footer__links-quick li a {
  color: #ffefeb;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}
.footer .footer__links-quick li a:hover {
  color: #f25f3a;
}
.footer .footer__links-quick li:not(:last-child) {
  padding-bottom: 0.7rem;
}
.footer .footer__links-subscribe {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer__links-subscribe {
    align-self: auto;
  }
}
.footer .footer__links-subscribe form {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .footer__links-subscribe form .input__box {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.footer .footer__links-subscribe form .input__box .error__message {
  padding-top: 0.3rem;
  padding-left: 1.4rem;
  font-style: italic;
  color: #f25f3a;
  font-size: 1.2rem;
  opacity: 0;
  display: none;
}
.footer .footer__links-subscribe form .input__box.error input {
  border-color: #f25f3a;
}
.footer .footer__links-subscribe form .input__box.error .error__message {
  opacity: 1;
  display: block;
}
.footer .footer__links p.paragraph.copyright {
  font-size: 1.4rem;
  text-align: right;
  color: #9095a7;
}
@media (max-width: 768px) {
  .footer .footer__links p.paragraph.copyright {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
