@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  position: relative;
  line-height: 1.7;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  background-color: #202c37;
  font-weight: 300;
}
body.light-mode {
  background-color: #fafafa;
}

input {
  background-color: #2b3945;
  color: white;
  border: none;
  padding: 1rem 2rem 1rem 8rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 0.5rem;
  height: 5rem;
  width: 50rem;
  font-weight: 300;
}
input::placeholder {
  font-weight: 1.4rem;
  color: #fafafa;
  font-weight: 300;
}
input:focus {
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.btn__primary {
  background-color: #2b3945;
  padding: 0.6rem 1.4rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #fafafa;
  font-size: 1.6rem;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.2);
}
.btn__primary.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  padding: 0.8rem;
}
.btn__primary.back svg {
  padding-right: 0.5rem;
}
.btn__primary.back svg path {
  fill: white !important;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 4rem;
}
@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

.title {
  font-weight: 800;
}
.title__main {
  font-size: 2.6rem;
}
@media (max-width: 768px) {
  .title__main {
    font-size: 1.9rem;
  }
}
.title__medium {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .title__medium {
    font-size: 1.8rem;
  }
}

body.light-mode .header {
  background-color: white;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.04);
}
body.light-mode .header .title.title__main {
  color: #111517;
}
body.light-mode .header label {
  color: #111517;
}
body.light-mode .main .filter .input-box input {
  background-color: white;
  color: #858585;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.04);
}
body.light-mode .main .filter .input-box input::placeholder {
  color: #858585;
}
body.light-mode .main .filter .input-box svg path {
  stroke: #111517 !important;
}
body.light-mode .main .filter .input-box svg line {
  stroke: #111517 !important;
}
body.light-mode .main .select-box {
  width: 22rem;
  position: relative;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.04);
}
body.light-mode .main .select-box span {
  background-color: white;
  color: #111517;
  font-weight: 600;
}
body.light-mode .main .select-box span svg polyline {
  stroke: #111517 !important;
}
body.light-mode .main .select-box .option-box {
  background-color: white;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.04);
}
body.light-mode .main .select-box .option-box li {
  color: #111517;
  font-weight: 600;
}
body.light-mode .main .select-box .option-box li:hover {
  color: #111517;
}
body.light-mode .main .country-list__item {
  background-color: white;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.04);
}
body.light-mode .main .country-list__item:hover {
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.09);
}
body.light-mode .main .country-list__item .title.title__medium {
  color: #111517;
}
body.light-mode .main .country-list__item p {
  color: #111517;
}
body.light-mode .main .empty-list li {
  font-size: 1.8rem;
  color: #111517;
}
body.light-mode .main .details .btn.btn__primary {
  background-color: white;
  color: #111517;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.08);
}
body.light-mode .main .details .btn.btn__primary:hover {
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.1);
}
body.light-mode .main .details .btn.btn__primary.back svg path {
  fill: #111517 !important;
}
body.light-mode .main .details__country .description .title.title__medium {
  color: #111517;
}
body.light-mode .main .details__country .description .content p {
  color: #111517;
}
body.light-mode .main .details__country .description .border p {
  color: #111517;
}
body.light-mode .main .details__country .description .border .btn-box a {
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.06);
}
body.light-mode .main .details__country .description .border .btn-box a:hover {
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.1);
}

.header {
  padding: 1.6rem 0;
  background-color: #2b3945;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .title.title__main {
  color: white;
}
.header #themeChanger {
  display: none;
}
.header label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.header label:hover {
  cursor: pointer;
}
.header label svg {
  margin-right: 1rem;
}
.header label svg path {
  fill: white !important;
}

.main {
  padding-bottom: 6rem;
}
.main .filter {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .main .filter {
    flex-direction: column;
  }
}
.main .filter .input-box {
  position: relative;
}
@media (max-width: 768px) {
  .main .filter .input-box {
    margin-bottom: 2rem;
    width: 100%;
  }
  .main .filter .input-box input {
    box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.2);
    max-width: 100%;
  }
}
.main .filter .input-box svg {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}
.main .filter .input-box svg path {
  stroke: white !important;
}
.main .filter .input-box svg line {
  stroke: white !important;
}
.main .filter .select-box {
  width: 22rem;
  position: relative;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.2);
}
.main .filter .select-box span {
  padding: 1.28rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #2b3945;
}
.main .filter .select-box span:hover {
  cursor: pointer;
}
.main .filter .select-box span svg polyline {
  stroke: #fafafa !important;
}
.main .filter .select-box span.open + .option-box {
  display: block;
}
.main .filter .select-box .option-box {
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 1.28rem 2rem;
  background-color: #2b3945;
  display: none;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.2);
}
.main .filter .select-box .option-box li {
  font-size: 1.6rem;
  color: #fafafa;
  font-weight: 300;
}
.main .filter .select-box .option-box li:not(:last-child) {
  margin-bottom: 0.4rem;
}
.main .filter .select-box .option-box li:hover {
  color: white;
  cursor: context-menu;
}
.main .country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27.2rem, 1fr));
  grid-gap: 6rem;
}
@media (max-width: 768px) {
  .main .country-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.main .country-list__item {
  background-color: #2b3945;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  max-width: 27.2rem;
}
@media (max-width: 768px) {
  .main .country-list__item {
    max-width: 30rem;
  }
  .main .country-list__item:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.main .country-list__item:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 1.2rem 0.5rem rgba(17, 21, 23, 0.2);
}
.main .country-list__item img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 18rem;
}
.main .country-list__item article {
  padding: 2rem 1rem 4rem 2rem;
}
.main .country-list__item .title.title__medium {
  color: white;
  margin-bottom: 0.8rem;
}
.main .country-list__item p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fafafa;
}
.main .country-list__item p span {
  font-weight: 600;
}
.main .empty-list li {
  font-size: 1.8rem;
  color: white;
}
.main .details {
  margin-top: 7rem;
}
.main .details__country {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .main .details__country {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main .details__country .image {
  flex: 0 1 44%;
}
@media (max-width: 768px) {
  .main .details__country .image {
    flex: 0 1 auto;
    margin-bottom: 3rem;
  }
}
.main .details__country .image img {
  width: 100%;
  max-height: 40rem;
}
.main .details__country .description {
  flex: 0 1 46%;
}
@media (max-width: 768px) {
  .main .details__country .description {
    flex-basis: auto;
  }
}
.main .details__country .description .title.title__medium {
  font-size: 3.2rem;
  color: white;
  margin-bottom: 2rem;
}
.main .details__country .description .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 7rem;
}
@media (max-width: 768px) {
  .main .details__country .description .content {
    flex-direction: column;
    margin-bottom: 3rem;
  }
}
.main .details__country .description .content > div {
  max-width: 50%;
}
@media (max-width: 768px) {
  .main .details__country .description .content > div {
    max-width: 100%;
  }
  .main .details__country .description .content > div:first-child {
    margin-bottom: 4rem;
  }
}
.main .details__country .description .content p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  color: white;
}
.main .details__country .description .content p span {
  font-weight: 300;
}
.main .details__country .description .border {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .main .details__country .description .border {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main .details__country .description .border p {
  flex: 0 0 14rem;
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  margin-right: 1.4rem;
}
@media (max-width: 768px) {
  .main .details__country .description .border p {
    flex-basis: auto;
    margin-bottom: 2rem;
  }
}
.main .details__country .description .border .btn-box {
  display: flex;
  flex-wrap: wrap;
}
.main .details__country .description .border .btn-box a {
  margin-bottom: 0.8rem;
}
.main .details__country .description .border .btn-box a:not(:last-child) {
  margin-right: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
