<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Frontend Mentor | Job Listings</title>

  <link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <div id="app">
    <div class="container">
      <div :class="filterOption ? 'wrapper-box' : 'wrapper-box-no-filter'">
        <div class="filter" v-show="filterOption">
          <ul class="filter__list">
            <li v-if="filter.role" class="filter-item-box">
              <filter-list :option="filter.role" :key="'role'" @remove-filter="removeRoleFilter" />
            </li>
            <li v-if="filter.level" class="filter-item-box">
              <filter-list :option="filter.level" :key="'level'" @remove-filter="removeLevelFilter" />
            </li>
            <li v-for="(language,index) in filter.languages" :key="'language__filter'+index" class="filter-item-box">
              <filter-list :option="language" @remove-filter="removeLanguageFilter" />
            </li>
            <li v-for="(tool,index) in filter.tools" :key="'tool__filter'+index" class="filter-item-box">
              <filter-list :option="tool" @remove-filter="removeToolFilter" />
            </li>
          </ul>
          <a href="#" class="btn btn__link" @click="clearFilter">Clear</a>
        </div>
      </div>

      <ul class="job-list">
        <list-item v-for="(job,index) in getFilteredJob" @filter-role="roleFilter" @filter-level="levelFilter"
          @filter-languages="languagesFilter" @filter-tools="toolsFilter" :key="'job__item'+index" :job="job" />
      </ul>

    </div>

  </div>

  <script src="./js/lib/vue.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>