@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  position: relative;
  line-height: 1.4;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  background: radial-gradient(#1f3756, #141539);
  min-height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}
body.modal-open::before {
  opacity: 1;
  visibility: visible;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 2rem 0;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  padding: 1rem 3.2rem;
}
.btn__outline {
  color: #ffffff;
  border: 0.2rem solid #606e85;
}
.btn__primary {
  background-color: #ffffff;
  color: #3b4363;
}
.btn__primary:hover {
  color: #dc2e4e;
}

.title {
  line-height: 1;
}
.title__main {
  font-weight: 800;
  font-size: 3.4rem;
  text-transform: uppercase;
}
.title__main span {
  display: block;
}
.title__main.bonus {
  font-size: 2.4rem;
}
@media (max-width: 375px) {
  .title__main {
    font-size: 3rem;
  }
  .title__main.bonus {
    font-size: 2rem;
  }
}
.title__large {
  font-weight: 800;
  font-size: 4.4rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 375px) {
  .title__large {
    font-size: 4rem;
  }
}
.title__medium {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #3b4363;
}
.title__small {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 375px) {
  .title__small {
    font-size: 1.6rem;
  }
}

.bonus-trigger-box {
  text-align: center;
  margin-bottom: 4rem;
}
.bonus-trigger-box input#bonus-trigger-input {
  display: none;
}
.bonus-trigger-box label {
  padding: 1.1rem 0;
}
.bonus-trigger-box label:hover {
  cursor: pointer;
}

.header {
  max-width: 60rem;
  margin: 0 auto 5rem;
  padding: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.3rem solid #606e85;
  border-radius: 1.1rem;
}
.header .score-box {
  align-self: stretch;
  color: #2a46c0;
  background-color: #ffffff;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
@media (max-width: 375px) {
  .header .score-box {
    width: 10.6rem;
  }
}
.header .score-box span {
  color: #3b4363;
  font-size: 5.4rem;
  letter-spacing: 0;
  font-weight: 800;
}
@media (max-width: 375px) {
  .header .score-box {
    font-size: 1.6rem;
  }
  .header .score-box span {
    font-size: 5rem;
  }
}

.main .start-view {
  position: relative;
  min-height: 30rem;
  max-width: 32rem;
  margin: 7rem auto 0;
  z-index: 1;
  background: url("../images/bg-triangle.svg") no-repeat;
  background-position: 1rem 4rem;
  background-size: contain;
}
.main .start-view.bonus {
  min-height: 37rem;
  background: url("../images/bg-pentagon.svg") no-repeat;
  background-size: contain;
}
.main .start-view.bonus .paper,
.main .start-view.bonus .scissors,
.main .start-view.bonus .rock,
.main .start-view.bonus .spock,
.main .start-view.bonus .lizard {
  width: 8rem;
  height: 8rem;
}
.main .start-view.bonus .paper::before,
.main .start-view.bonus .scissors::before,
.main .start-view.bonus .rock::before,
.main .start-view.bonus .spock::before,
.main .start-view.bonus .lizard::before {
  width: 12rem;
  height: 12rem;
}
.main .start-view.bonus .scissors {
  margin: 0 auto 2rem;
}
.main .start-view.bonus .rock {
  margin: 0;
}
.main .start-view.bonus .two-choice-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.main .start-view.bonus .two-choice-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 375px) {
  .main .start-view {
    max-width: 28rem;
  }
}
.main .start-view .two-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.main .start-view .paper,
.main .start-view .scissors,
.main .start-view .rock,
.main .start-view .spock,
.main .start-view .lizard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: inset 0 0.5rem 0 0 rgba(211, 211, 211, 0.8);
}
.main .start-view .paper:hover,
.main .start-view .scissors:hover,
.main .start-view .rock:hover,
.main .start-view .spock:hover,
.main .start-view .lizard:hover {
  cursor: pointer;
}
.main .start-view .paper::before,
.main .start-view .scissors::before,
.main .start-view .rock::before,
.main .start-view .spock::before,
.main .start-view .lizard::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16rem;
  height: 16rem;
  border-radius: 100%;
  z-index: -1;
}
@media (max-width: 375px) {
  .main .start-view .paper,
.main .start-view .scissors,
.main .start-view .rock,
.main .start-view .spock,
.main .start-view .lizard {
    width: 10rem;
    height: 10rem;
  }
  .main .start-view .paper::before,
.main .start-view .scissors::before,
.main .start-view .rock::before,
.main .start-view .spock::before,
.main .start-view .lizard::before {
    width: 13rem;
    height: 13rem;
  }
}
.main .start-view .paper::before {
  background: radial-gradient(#4865f4, #5671f5);
  box-shadow: inset 0 -0.6rem 0 0 #2a46c0;
}
.main .start-view .scissors::before {
  background: radial-gradient(#ec9e0e, #eca922);
  box-shadow: inset 0 -0.6rem 0 0 #ab730a;
}
.main .start-view .rock {
  margin: 0 auto;
}
.main .start-view .rock::before {
  background: radial-gradient(#dc2e4e, #dd405d);
  box-shadow: inset 0 -0.6rem 0 0 #b5253f;
}
.main .start-view .spock::before {
  background: radial-gradient(#40b9ce, #52bed1);
  box-shadow: inset 0 -0.6rem 0 0 #33808e;
}
.main .start-view .lizard::before {
  background: radial-gradient(#834fe3, #8c5de5);
  box-shadow: inset 0 -0.6rem 0 0 #553198;
}
.main .play-view {
  max-width: 84rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .main .play-view {
    flex-wrap: wrap;
  }
}
.main .play-view.result {
  justify-content: space-around;
}
.main .play-view.result .result {
  display: block;
  opacity: 1;
}
.main .play-view .player.winner .choice::after,
.main .play-view .house.winner .choice::after {
  opacity: 1;
  visibility: visible;
}
.main .play-view .title.title__small {
  letter-spacing: 0.2rem;
  margin-bottom: 8rem;
  text-align: center;
}
.main .play-view .player,
.main .play-view .house {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .play-view .player .choice,
.main .play-view .house .choice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: inset 0 1rem 0 0 rgba(211, 211, 211, 0.8);
}
.main .play-view .player .choice::before,
.main .play-view .house .choice::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  height: 24rem;
  border-radius: 100%;
  z-index: -1;
}
.main .play-view .player .choice::after,
.main .play-view .house .choice::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: animate 2s linear infinite;
  z-index: -3;
  opacity: 0;
  visibility: hidden;
}
.main .play-view .player .choice img,
.main .play-view .house .choice img {
  width: 48%;
}
.main .play-view .player .choice.paper::before,
.main .play-view .house .choice.paper::before {
  background: radial-gradient(#4865f4, #5671f5);
  box-shadow: inset 0 -1rem 0 0 #2a46c0;
}
.main .play-view .player .choice.scissors::before,
.main .play-view .house .choice.scissors::before {
  background: radial-gradient(#ec9e0e, #eca922);
  box-shadow: inset 0 -1rem 0 0 #ab730a;
}
.main .play-view .player .choice.rock::before,
.main .play-view .house .choice.rock::before {
  background: radial-gradient(#dc2e4e, #dd405d);
  box-shadow: inset 0 -1rem 0 0 #b5253f;
}
.main .play-view .player .choice.spock::before,
.main .play-view .house .choice.spock::before {
  background: radial-gradient(#40b9ce, #52bed1);
  box-shadow: inset 0 -1rem 0 0 #33808e;
}
.main .play-view .player .choice.lizard::before,
.main .play-view .house .choice.lizard::before {
  background: radial-gradient(#834fe3, #8c5de5);
  box-shadow: inset 0 -1rem 0 0 #553198;
}
@media (max-width: 768px) {
  .main .play-view .player,
.main .play-view .house {
    flex-direction: column-reverse;
    flex: 0 0 50%;
  }
  .main .play-view .player .title.title__small,
.main .play-view .house .title.title__small {
    margin-bottom: 0;
  }
  .main .play-view .player .choice,
.main .play-view .house .choice {
    margin-bottom: 8rem;
    width: 8rem;
    height: 8rem;
    box-shadow: inset 0 0.66rem 0 0 rgba(211, 211, 211, 0.8);
  }
  .main .play-view .player .choice::before,
.main .play-view .house .choice::before {
    width: 12rem;
    height: 12rem;
  }
  .main .play-view .player .choice.paper::before,
.main .play-view .house .choice.paper::before {
    box-shadow: inset 0 -0.6rem 0 0 #2a46c0;
  }
  .main .play-view .player .choice.scissors::before,
.main .play-view .house .choice.scissors::before {
    box-shadow: inset 0 -0.6rem 0 0 #ab730a;
  }
  .main .play-view .player .choice.rock::before,
.main .play-view .house .choice.rock::before {
    box-shadow: inset 0 -0.6rem 0 0 #b5253f;
  }
  .main .play-view .player .choice .spock::before,
.main .play-view .house .choice .spock::before {
    background: radial-gradient(#40b9ce, #52bed1);
    box-shadow: inset 0 -0.6rem 0 0 #33808e;
  }
  .main .play-view .player .choice .lizard::before,
.main .play-view .house .choice .lizard::before {
    background: radial-gradient(#834fe3, #8c5de5);
    box-shadow: inset 0 -0.6rem 0 0 #553198;
  }
}
.main .play-view .house .choice.wait {
  background: #3b4363;
  box-shadow: none;
}
.main .play-view .result {
  align-self: flex-end;
  margin-bottom: 3rem;
  width: 20rem;
  text-align: center;
  display: none;
  opacity: 0;
}
.main .play-view .result .title.title__large {
  margin-bottom: 2rem;
}
.main .play-view .result .btn.btn__primary {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .main .play-view .result {
    display: block;
    order: 3;
    flex: 0 0 20rem;
    margin-top: 7rem;
    margin-bottom: 0;
  }
}

.footer {
  text-align: right;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 8rem;
  }
}
.footer .container {
  position: relative;
}
.footer a {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .footer a {
    right: 50%;
    transform: translateX(50%);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 3rem 2.6rem;
  border-radius: 0.7rem;
  display: none;
  opacity: 0;
  z-index: 999;
}
@media (max-width: 375px) {
  .modal {
    height: calc(100vh + 8rem);
    width: 100vw;
    top: auto;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    padding-top: 12rem;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.modal__header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .modal__header {
    justify-content: center;
  }
  .modal__header a {
    position: absolute;
    bottom: 15%;
  }
}
.modal__image img {
  width: 96%;
}

@media (max-width: 375px) {
  body.modal-open {
    overflow: hidden;
  }
}
body.modal-open .modal {
  display: block;
  opacity: 1;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 5rem rgba(96, 110, 133, 0), 0 0 0 3rem rgba(96, 110, 133, 0), 0 0 0 3rem rgba(96, 110, 133, 0.09);
  }
  30% {
    box-shadow: 0 0 0 14rem rgba(96, 110, 133, 0.01), 0 0 0 10rem rgba(96, 110, 133, 0.02), 0 0 0 5rem rgba(96, 110, 133, 0.1);
  }
  50% {
    box-shadow: 0 0 0 16rem rgba(96, 110, 133, 0.05), 0 0 0 11rem rgba(96, 110, 133, 0.08), 0 0 0 6rem rgba(96, 110, 133, 0.1);
  }
  80% {
    box-shadow: 0 0 0 18rem rgba(96, 110, 133, 0.05), 0 0 0 12rem rgba(96, 110, 133, 0.08), 0 0 0 7rem rgba(96, 110, 133, 0.1);
  }
  100% {
    box-shadow: 0 0 0 5rem rgba(96, 110, 133, 0), 0 0 0 3rem rgba(96, 110, 133, 0), 0 0 0 3rem rgba(96, 110, 133, 0.01);
  }
}

/*# sourceMappingURL=style.css.map */
