@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');//Headings, Call-to-actions, Header Navigation

$color-dark-blue-1: hsl(217, 28%, 15%); //intro and email sign up background
$color-dark-blue-2: hsl(218, 28%, 13%); //main background
$color-dark-blue-3: hsl(216, 53%, 9%); //footer background
$color-dark-blue-4: hsl(219, 30%, 18%); //testimonials background

$color-cyan: hsl(176, 68%, 64%); //inside call-to-action gradient
$color-blue: hsl(198, 60%, 50%); //inside call-to-action gradient

$color-white: hsl(0, 0%, 100%);
$color-light: #dedede;

$font-body: 'Open Sans', sans-serif;
$font-heading: 'Raleway', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-white;
    font-family: $font-body;
    line-height: 1.7;
    background-color: $color-dark-blue-2;
    position: relative;
}

a:visited,
a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title {
    font-family: $font-heading;
    color: $color-white;
    line-height: 1.4;
    font-weight: 700;
    &__big {
        font-size: 3.4rem;
    }
    &__medium {
        font-size: 2.8rem;
    }
    &__small {
        font-size: 2rem;
    }
}

.btn {
    font-family: $font-heading;
    font-weight: 700;
    color: $color-light;
    text-transform: capitalize;
    &__cta {
        font-size: 1.6rem;
        padding: 1.2rem 8rem;
        border-radius: 100px;
        background: linear-gradient(to right, $color-cyan,$color-blue);
        &:hover {
            background: linear-gradient(to right, rgba($color-cyan,0.95),rgba($color-blue,0.95));
        }
    }
    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-cyan;
        font-size: 1.6rem;
        border-bottom: 1px solid currentColor;
        width: fit-content;
        span {
            margin-left: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            span {
                animation: slide 0.4s linear;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0.2rem);
    }
    100% {
        transform: translateX(0);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    @media (max-width:768px) {
        padding: 0 2rem;
    }
}

.header {
    background-color: $color-dark-blue-1;
    padding-top: 2rem;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        ul {
            display: flex;
            @media (max-width:424px){
                display: none;
                opacity: 0;
            }
        }
        &__item {
            &:not(:last-child) {
                padding-right: 3rem;
                @media (max-width:768px) {
                    padding-right: 1.8rem;
                }
            }
        }
        &__link {
            color: $color-light;
            font-family: $font-heading;
            transition: 0.2s ease-in-out;
            font-size: 1.6rem;
            &:hover {
                color: $color-white;
            }
        }
    }
}

.intro {
    background-color: $color-dark-blue-1;
    padding-bottom: 16rem;
    background-image: url('../images/bg-curvy-desktop.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width:768px) {
        background-image: url('../images/bg-curvy-mobile.svg');
        padding-bottom: 10rem;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            width: 100%;
        }
    }
  
    &__title {
        max-width: 70rem;
        margin: 4rem 0 3.5rem;
        @media (max-width:768px) {
            font-size: 3.2rem;
        }
    }
    &__para {
        font-size: 1.8rem;
        color: $color-light;
        max-width: 550px;
        margin-bottom: 3rem;
    }
}

.feature {
    padding-bottom:4rem;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        @media (max-width:768px) {
            flex-direction: column;
        }
    }
    &__item {
        flex: 0 0 48%;
        margin: 1%;
        padding: 4rem 2.8rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            margin: 1.4rem 0 1rem;
        }
        .paragraph {
            color: $color-light;
            font-size: 1.5rem;
            max-width: 400px;
        }
    }

}

.work {
    padding: 6rem 0;
    &__container {
        display: flex;
        align-items: center;
        @media (max-width:768px) {
            flex-wrap: wrap;
        }
        img {
            width: 100%;
        }
    }
    &__content {
        padding-left: 5rem;
        @media (max-width:768px) {
            margin-top: 3rem;
           padding-left: 0;
        }
       
        .title {
            max-width: 40rem;
            margin-bottom: 1.5rem;
            @media (max-width:768px) {
                font-size: 2.2rem;
                max-width: 100%;
            }
        }
        .paragraph {
            font-size: 1.6rem;
            color: $color-light;
            margin-bottom: 1.2rem;
            &:last-of-type {
                margin-bottom: 2rem;
            }
        }
    }
}

.testimonial {
    padding: 10rem 0;
    &__list {
        display: flex;
        justify-content: space-between;
        position: relative;
        @media (max-width:768px) {
            flex-direction: column;
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/bg-quotes.png');
            height: 4.5rem;
            width: 5.5rem;
            z-index: -1;
            top: -3.5rem;
            left: -.9rem;
            @media (max-width:768px) {
                left: 0;
            }
        }
    }
    &__item {
        flex: 0 0 31%;
        background-color: $color-dark-blue-4;
        padding: 4rem 2.2rem 2.2rem;

        @media (max-width:768px) {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        .paragraph {
            font-size: 1.5rem;
            color: $color-light;
            margin-bottom: 2rem;
        }

        img {
            border-radius: 100%;
            width: 4rem;
            height: 4rem;
        }

        .detail__box {
            display: flex;
            align-items: flex-start;
        }
        .content {
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            .name {
                font-size: 1.2rem;
                font-weight: 700;
            }
            .post {
                font-size: 1.1rem;
                color: $color-light;
            }
        }
    }
    
}

.access {
    max-width: 80rem;
    margin: 4rem auto -10rem;
    background-color: $color-dark-blue-1;
    padding: 4rem;
    border-radius: .5rem;
    position: relative;
    z-index: 2;
    box-shadow: 0px 7px 45px 3px rgba(0, 0, 0, 0.3);
    .title {
        margin-bottom: 2rem;
    }
    .title,
    .paragraph {
        text-align: center;
    }
    p.paragraph {
        font-size: 1.5rem;
        color: $color-light;
    }

    form {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        @media (max-width:768px) {
            flex-direction: column;
            max-width: 40rem;
            margin: 3rem auto 0;
        }
        input {
            border-radius: 50px;
            flex: 0 0 48rem;
            padding: 1.4rem 2.2rem;
            border: none;
            font-family: inherit;
            font-size: inherit;
            color: $color-dark-blue-1;
            @media (max-width:768px) {
                flex-basis: auto;
                margin-bottom: 2rem;
            }
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #ccc;
            }
        }
        .btn__cta {
            padding: 1.2rem 3rem;
        }
    }
}

.footer {
    background-color: $color-dark-blue-3;
    padding: 18rem 0 5rem;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 3rem;
        @media (max-width:768px) {
            flex-direction: column;
        }
        & > li {
            flex: 0 0 20%;
            @media (max-width:768px) {
                padding-bottom: 1.2rem;     
            }
        }
        .location {
            display: flex;
            flex: 0 0 31%;
            align-items: baseline;
            svg {
                flex: 0 0 14px;
            }
            p.paragraph {
                padding-left: 2.2rem;
                color: $color-light;
                font-size: 1.6rem;
                @media (max-width:768px) {
                    max-width: 50rem;
                }
            }
        }
        .contact {
            flex: 0 0 29%;
            padding-left: 5%;
            @media (max-width:768px) {
                padding-left: 0;
            }
            ul {
                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    a {
                        padding-left: 2rem;
                        color: $color-light;
                        transition: 0.2s ease-in-out;
                        &:hover {
                            color: $color-white;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 1.2rem;
                    }
                }
            }
        }
        .links {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            @media (max-width:768px) {
                flex-direction: column;
                margin-top: 5rem;
            }
            ul {
                display: flex;
                flex-direction: column;
                @media (max-width:768px) {
                    &:first-child {
                        margin-bottom: 5rem;
                    }
                }
                & > li {
                    flex: 0 0 100%;
                    padding-bottom: .8rem;
                    a {
                        color: $color-light;
                        text-transform: capitalize;
                        font-size: 1.6rem;
                        transition: 0.2s ease-in-out;
                        &:hover {
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .media {
            @media (max-width:768px) {
                align-self: center;
            }
            ul {
                display: flex;
                justify-content: flex-end;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    width: 3.4rem;
                    height: 3.4rem;
                    border: 1px solid $color-light;
                    border-radius: 100%;
                    line-height: 4rem;
                }
            }
        }
    }

}