@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #070439;
  background-color: #ffffff;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.8rem;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.btn__primary {
  text-transform: capitalize;
  background-color: #3065f8;
  color: #f6f6fe;
  padding: 1.3rem 2rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 0.2rem solid #3065f8;
  transition: 0.2s ease-in-out;
}
.btn__primary:hover {
  background-color: #ffffff;
  color: #3065f8;
}
.btn__link {
  color: #3c9f8f;
  position: relative;
  padding-right: 2.4rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid #3c9f8f;
}
.btn__link::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../images/icon-arrow.svg");
}
@media (max-width: 768px) {
  .btn__link::before {
    bottom: 0.95rem;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 0.3rem;
  padding: 1.4rem 2rem;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #bfbfbf;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.title__main {
  font-size: 3.8rem;
  line-height: 1.3;
}
@media (max-width: 425px) {
  .title__main {
    font-size: 3.2rem;
  }
}
.title__medium {
  font-size: 3.2rem;
  line-height: 1.3;
}

.header {
  margin-bottom: 8rem;
}
.header .nav {
  padding: 2.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 400px) {
  .header .nav ul li {
    display: none;
    opacity: 0;
  }
}
.header .nav ul li:not(:last-child) {
  padding-right: 3.4rem;
}
@media (max-width: 480px) {
  .header .nav ul li:not(:last-child) {
    padding-right: 1.2rem;
  }
}
.header .nav ul li a {
  font-family: "Raleway", sans-serif;
  color: #070439;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
}
.header .nav ul li a:hover {
  color: #3065f8;
}
.header .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .header .hero {
    flex-direction: column-reverse;
  }
}
.header .hero__content {
  flex: 0 1 49%;
}
@media (max-width: 991px) {
  .header .hero__content {
    flex-basis: auto;
    max-width: 50rem;
    text-align: center;
  }
}
.header .hero__content .title.title__main {
  margin-bottom: 2rem;
}
.header .hero__content p.paragraph {
  max-width: 58rem;
  font-size: 1.8rem;
  color: #070439;
  margin-bottom: 1.8rem;
}
.header .hero__content form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 56rem;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .hero__content form {
    flex-direction: column;
    max-width: 94%;
  }
}
.header .hero__content form input {
  flex: 0 1 66%;
  border: 0.1rem solid #070439;
  margin-right: 1.8rem;
}
@media (max-width: 768px) {
  .header .hero__content form input {
    flex-basis: auto;
    margin: 0 0 2rem;
    width: 99%;
  }
}
.header .hero__content form a {
  flex-grow: 1;
}
@media (max-width: 768px) {
  .header .hero__content form a {
    width: 99%;
  }
}
.header .hero__image {
  flex: 0 1 49%;
  height: 50rem;
  background-image: url("../images/illustration-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 991px) {
  .header .hero__image {
    flex-basis: auto;
    width: 100%;
    margin-bottom: 6rem;
  }
}
@media (max-width: 425px) {
  .header .hero__image {
    margin-bottom: 0;
  }
}

.work {
  margin: 8rem 0 0;
  padding: 10rem 0 5rem;
  background-image: url("../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .work {
    background-image: url("../images/bg-curve-mobile.svg");
  }
}
.work__container {
  display: flex;
}
@media (max-width: 768px) {
  .work__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.work__content {
  flex: 0 0 55%;
}
@media (max-width: 768px) {
  .work__content {
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.work__content .title.title__main {
  margin-bottom: 3.2rem;
}
@media (max-width: 768px) {
  .work__content .title.title__main {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  .work__content .title.title__main {
    font-size: 2rem;
  }
}
.work__content .paragraph {
  font-size: 1.6rem;
  color: #070439;
  max-width: 52rem;
  margin-bottom: 1.4rem;
}
.work__content .paragraph:first-of-type {
  margin-bottom: 1.2rem;
}
@media (max-width: 768px) {
  .work__content .paragraph:last-of-type {
    margin-bottom: 4rem;
  }
}
.work__content .testimonial {
  margin-top: 4.8rem;
  max-width: 36rem;
  padding: 3rem 2.8rem 2rem;
  border-radius: 0.6rem;
  background-color: #ffffff;
  box-shadow: 0px 0.1rem 1.4rem 0.5rem rgba(7, 4, 57, 0.04);
}
.work__content .testimonial .message {
  font-size: 1.4rem;
}
.work__content .testimonial .details {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.4rem;
}
.work__content .testimonial .details img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 100%;
}
.work__content .testimonial .details .name__post {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
}
.work__content .testimonial .details .name__post .name {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}
.work__content .testimonial .details .name__post .post {
  font-size: 1.1rem;
}
.work__image {
  flex: 0 0 43%;
  margin-top: 3rem;
  height: 50rem;
  background-image: url("../images/illustration-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 768px) {
  .work__image {
    flex-basis: auto;
    width: 100%;
    height: 40rem;
    background-position: center;
    margin: 0 0 7rem;
  }
}

.subscribe {
  padding: 5rem 0;
  background-color: #585989;
}
.subscribe__container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .subscribe__container {
    max-width: 50rem;
    flex-direction: column;
  }
}
.subscribe__content {
  flex-basis: 50rem;
  margin-right: 2%;
}
@media (max-width: 768px) {
  .subscribe__content {
    flex-basis: auto;
    max-width: 50rem;
    text-align: center;
    margin: 0 auto 3rem;
    margin-right: auto;
  }
}
.subscribe__content .title.title__medium {
  color: #ffffff;
  margin-bottom: 1.8rem;
}
.subscribe__content p.paragraph {
  color: #f6f6fe;
}
.subscribe form {
  max-width: 52rem;
  width: 49rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .subscribe form {
    max-width: 98%;
    width: 92%;
  }
}
.subscribe form input {
  width: 100%;
  border: none;
  margin-bottom: 1.6rem;
  box-shadow: 0px 0.2rem 1rem 0.2rem rgba(7, 4, 57, 0.2);
}
.subscribe form input::placeholder {
  font-size: 1.4rem;
}
.subscribe form .btn.btn__primary {
  padding: 1rem 2.4rem;
  font-size: 1.5rem;
  box-shadow: 0px 0.2rem 1rem 0.2rem rgba(7, 4, 57, 0.2);
}
.subscribe form .btn.btn__primary:hover {
  border-color: #f6f6fe;
}
@media (max-width: 768px) {
  .subscribe form .btn.btn__primary {
    width: 100%;
  }
}

.footer {
  padding: 6rem 0;
  background-color: #070439;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .footer__links {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer .links__contact {
    margin-bottom: 5rem;
  }
}
.footer .links__contact ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.footer .links__contact ul li:not(:last-child) {
  padding-bottom: 1.2rem;
}
.footer .links__contact ul li a {
  padding-left: 2rem;
  color: #bfbfbf;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .footer .links__contact ul li a {
    color: #f6f6fe;
  }
}
.footer .links__contact ul li a:hover {
  color: #f6f6fe;
}
@media (max-width: 768px) {
  .footer .links__contact ul li a:hover {
    color: #bfbfbf;
  }
}
@media (max-width: 768px) {
  .footer .links__quick {
    margin-bottom: 5rem;
  }
}
.footer .links__quick ul li:not(:last-child) {
  padding-bottom: 1.2rem;
}
.footer .links__quick ul li a {
  color: #bfbfbf;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .footer .links__quick ul li a {
    color: #f6f6fe;
  }
}
.footer .links__quick ul li a:hover {
  color: #f6f6fe;
}
@media (max-width: 768px) {
  .footer .links__quick ul li a:hover {
    color: #bfbfbf;
  }
}
.footer .links__media {
  align-self: center;
}
.footer .links__media ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .links__media ul li {
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #bfbfbf;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .links__media ul li:not(:last-child) {
  margin-right: 1.2rem;
}
.footer .links__media ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .links__media ul li a svg {
  transform: scale(0.85);
}

/*# sourceMappingURL=style.css.map */
