@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  background-color: #181f2a;
  position: relative;
}

a:visited,
a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title {
  font-family: "Raleway", sans-serif;
  color: white;
  line-height: 1.4;
  font-weight: 700;
}
.title__big {
  font-size: 3.4rem;
}
.title__medium {
  font-size: 2.8rem;
}
.title__small {
  font-size: 2rem;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #dedede;
  text-transform: capitalize;
}
.btn__cta {
  font-size: 1.6rem;
  padding: 1.2rem 8rem;
  border-radius: 100px;
  background: linear-gradient(to right, #65e2d9, #339ecc);
}
.btn__cta:hover {
  background: linear-gradient(to right, rgba(101, 226, 217, 0.95), rgba(51, 158, 204, 0.95));
}
.btn__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #65e2d9;
  font-size: 1.6rem;
  border-bottom: 1px solid currentColor;
  width: fit-content;
}
.btn__link span {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__link:hover span {
  animation: slide 0.4s linear;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.2rem);
  }
  100% {
    transform: translateX(0);
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

.header {
  background-color: #1c2431;
  padding-top: 2rem;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.header .nav ul {
  display: flex;
}
@media (max-width: 424px) {
  .header .nav ul {
    display: none;
    opacity: 0;
  }
}
.header .nav__item:not(:last-child) {
  padding-right: 3rem;
}
@media (max-width: 768px) {
  .header .nav__item:not(:last-child) {
    padding-right: 1.8rem;
  }
}
.header .nav__link {
  color: #dedede;
  font-family: "Raleway", sans-serif;
  transition: 0.2s ease-in-out;
  font-size: 1.6rem;
}
.header .nav__link:hover {
  color: white;
}

.intro {
  background-color: #1c2431;
  padding-bottom: 16rem;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 768px) {
  .intro {
    background-image: url("../images/bg-curvy-mobile.svg");
    padding-bottom: 10rem;
  }
}
.intro .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro .container img {
  width: 100%;
}
.intro__title {
  max-width: 70rem;
  margin: 4rem 0 3.5rem;
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 3.2rem;
  }
}
.intro__para {
  font-size: 1.8rem;
  color: #dedede;
  max-width: 550px;
  margin-bottom: 3rem;
}

.feature {
  padding-bottom: 4rem;
}
.feature__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .feature__list {
    flex-direction: column;
  }
}
.feature__item {
  flex: 0 0 48%;
  margin: 1%;
  padding: 4rem 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature__item .title {
  margin: 1.4rem 0 1rem;
}
.feature__item .paragraph {
  color: #dedede;
  font-size: 1.5rem;
  max-width: 400px;
}

.work {
  padding: 6rem 0;
}
.work__container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .work__container {
    flex-wrap: wrap;
  }
}
.work__container img {
  width: 100%;
}
.work__content {
  padding-left: 5rem;
}
@media (max-width: 768px) {
  .work__content {
    margin-top: 3rem;
    padding-left: 0;
  }
}
.work__content .title {
  max-width: 40rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .work__content .title {
    font-size: 2.2rem;
    max-width: 100%;
  }
}
.work__content .paragraph {
  font-size: 1.6rem;
  color: #dedede;
  margin-bottom: 1.2rem;
}
.work__content .paragraph:last-of-type {
  margin-bottom: 2rem;
}

.testimonial {
  padding: 10rem 0;
}
.testimonial__list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .testimonial__list {
    flex-direction: column;
  }
}
.testimonial__list::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg-quotes.png");
  height: 4.5rem;
  width: 5.5rem;
  z-index: -1;
  top: -3.5rem;
  left: -0.9rem;
}
@media (max-width: 768px) {
  .testimonial__list::before {
    left: 0;
  }
}
.testimonial__item {
  flex: 0 0 31%;
  background-color: #202a3c;
  padding: 4rem 2.2rem 2.2rem;
}
@media (max-width: 768px) {
  .testimonial__item:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.testimonial__item .paragraph {
  font-size: 1.5rem;
  color: #dedede;
  margin-bottom: 2rem;
}
.testimonial__item img {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}
.testimonial__item .detail__box {
  display: flex;
  align-items: flex-start;
}
.testimonial__item .content {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.testimonial__item .content .name {
  font-size: 1.2rem;
  font-weight: 700;
}
.testimonial__item .content .post {
  font-size: 1.1rem;
  color: #dedede;
}

.access {
  max-width: 80rem;
  margin: 4rem auto -10rem;
  background-color: #1c2431;
  padding: 4rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 2;
  box-shadow: 0px 7px 45px 3px rgba(0, 0, 0, 0.3);
}
.access .title {
  margin-bottom: 2rem;
}
.access .title,
.access .paragraph {
  text-align: center;
}
.access p.paragraph {
  font-size: 1.5rem;
  color: #dedede;
}
.access form {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .access form {
    flex-direction: column;
    max-width: 40rem;
    margin: 3rem auto 0;
  }
}
.access form input {
  border-radius: 50px;
  flex: 0 0 48rem;
  padding: 1.4rem 2.2rem;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #1c2431;
}
@media (max-width: 768px) {
  .access form input {
    flex-basis: auto;
    margin-bottom: 2rem;
  }
}
.access form input:focus {
  outline: none;
}
.access form input::placeholder {
  color: #ccc;
}
.access form .btn__cta {
  padding: 1.2rem 3rem;
}

.footer {
  background-color: #0b1523;
  padding: 18rem 0 5rem;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__content > li {
  flex: 0 0 20%;
}
@media (max-width: 768px) {
  .footer__content > li {
    padding-bottom: 1.2rem;
  }
}
.footer__content .location {
  display: flex;
  flex: 0 0 31%;
  align-items: baseline;
}
.footer__content .location svg {
  flex: 0 0 14px;
}
.footer__content .location p.paragraph {
  padding-left: 2.2rem;
  color: #dedede;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .footer__content .location p.paragraph {
    max-width: 50rem;
  }
}
.footer__content .contact {
  flex: 0 0 29%;
  padding-left: 5%;
}
@media (max-width: 768px) {
  .footer__content .contact {
    padding-left: 0;
  }
}
.footer__content .contact ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__content .contact ul li a {
  padding-left: 2rem;
  color: #dedede;
  transition: 0.2s ease-in-out;
}
.footer__content .contact ul li a:hover {
  color: white;
}
.footer__content .contact ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.footer__content .links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 768px) {
  .footer__content .links {
    flex-direction: column;
    margin-top: 5rem;
  }
}
.footer__content .links ul {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer__content .links ul:first-child {
    margin-bottom: 5rem;
  }
}
.footer__content .links ul > li {
  flex: 0 0 100%;
  padding-bottom: 0.8rem;
}
.footer__content .links ul > li a {
  color: #dedede;
  text-transform: capitalize;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
}
.footer__content .links ul > li a:hover {
  color: white;
}
@media (max-width: 768px) {
  .footer__content .media {
    align-self: center;
  }
}
.footer__content .media ul {
  display: flex;
  justify-content: flex-end;
}
.footer__content .media ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4rem;
  height: 3.4rem;
  border: 1px solid #dedede;
  border-radius: 100%;
  line-height: 4rem;
}
.footer__content .media ul li:not(:last-child) {
  margin-right: 1rem;
}
.footer__content .media ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
