@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #dddbff;
  min-height: 100vh;
  background: url("../images/bg-desktop.svg"), #0c122c;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: bottom;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 991px) {
  .content {
    width: 50rem;
    flex-direction: column;
  }
}
.content__icon {
  padding: 3rem;
  border-radius: 0.8rem;
  border-top-right-radius: 9rem;
  background-color: #1d2c67;
  width: 30rem;
  margin-right: 3rem;
}
@media (max-width: 991px) {
  .content__icon {
    width: 99%;
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}
.content__icon .logo {
  margin-bottom: 2rem;
}
.content__icon .icon__box {
  display: flex;
  align-items: center;
}
.content__icon .icon__box li {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 1rem;
  background-color: #0c122c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__icon .icon__box li:not(:last-child) {
  margin-right: 1.2rem;
}
.content__details {
  position: relative;
  width: 50rem;
  padding: 3rem;
  border-radius: 0.8rem;
  background-color: #1d2c67;
}
@media (max-width: 991px) {
  .content__details {
    width: 99%;
  }
}
.content__details p.paragraph {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.content__details p.paragraph span {
  font-weight: 700;
}
.content__details .popup__reading {
  position: absolute;
  top: -3.8rem;
  right: 3rem;
  width: 14rem;
  border-radius: 0.8rem;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
  padding: 0.5rem 2rem;
  font-size: 3rem;
  color: #0c122c;
  font-weight: 600;
}
@media (max-width: 991px) {
  .content__details .popup__reading {
    top: auto;
    bottom: -3.8rem;
    right: 50%;
    border-bottom-right-radius: 0.8rem;
    transform: translateX(50%);
  }
}
.content__details .popup__reading span {
  vertical-align: middle;
  color: #848794;
  font-size: 1.1rem;
}
.content__details .popup__reading::before {
  content: "";
  position: absolute;
  bottom: -2.2rem;
  right: 0;
  border: 1.5rem solid;
  border-color: #ffffff #ffffff transparent transparent;
}
@media (max-width: 991px) {
  .content__details .popup__reading::before {
    opacity: 0;
  }
}
.content__details .bar {
  position: relative;
  width: 100%;
  height: 1.6rem;
  border-radius: 5rem;
  background: rgba(12, 18, 44, 0.6);
  margin-bottom: 0.4rem;
}
.content__details .bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  width: 81.5%;
  border-radius: 5rem;
  height: 80%;
  background: linear-gradient(to right, #ffa399, #ff4d97);
}
.content__details .bar::after {
  content: "";
  position: absolute;
  top: 49.8%;
  left: 79.4%;
  transform: translateY(-48%);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: #dddbff;
}
.content__details .bar__reading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
