@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #b9b6d3;
  line-height: 1.7;
  font-weight: 400;
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
@media (max-width: 768px) {
  body {
    background-image: url("../images/bg-intro-mobile.png");
  }
}

a:link,
a:visited {
  text-decoration: none;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  padding: 1rem 5rem 1rem 2rem;
  border-radius: 0.5rem;
  color: #3e3c49;
  font-weight: 600;
  font-size: 1.5rem;
  border: 0.1rem solid #b9b6d3;
}
input:focus {
  border-color: #3e3c49;
  outline: #3e3c49;
}
input::placeholder {
  color: #3e3c49;
  font-size: 1.3rem;
  font-weight: 500;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  color: #ffffff;
  font-size: 1.4rem;
}
.btn__primary {
  background-color: #6055a5;
  font-weight: 500;
  box-shadow: 0 0.5rem 0 0 rgba(62, 60, 73, 0.3);
}
.btn__primary span {
  color: #e1e1e1;
  font-weight: 400;
}
.btn__secondary {
  text-transform: uppercase;
  letter-spacing: 0.14rem;
  background-color: #38cc8c;
}

.title {
  color: #ffffff;
}
.title__main {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.3;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    max-width: 50rem;
  }
}
.intro__content {
  max-width: 48rem;
}
@media (max-width: 768px) {
  .intro__content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
}
.intro__content .title.title__main {
  margin-bottom: 2.1rem;
}
.intro__content p.paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f2f2f2;
}
.intro__form {
  width: 44rem;
  margin-left: 5rem;
}
@media (max-width: 768px) {
  .intro__form {
    margin-left: 0;
    width: 100%;
  }
}
.intro__form .btn.btn__primary {
  display: block;
  text-align: center;
}
.intro__form form {
  margin-top: 2rem;
  padding: 3rem 2.4rem;
  background-color: #ffffff;
  border-radius: 0.7rem;
  box-shadow: 0 0.5rem 0.4rem 0.07rem rgba(62, 60, 73, 0.3);
}
.intro__form form .input__box {
  margin-bottom: 1.4rem;
  position: relative;
}
.intro__form form .input__box::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../images/icon-error.svg");
  opacity: 0;
  visibility: hidden;
}
.intro__form form .input__box.error::before {
  opacity: 1;
  visibility: visible;
}
.intro__form form .input__box.error .error__message {
  opacity: 1;
  display: block;
}
.intro__form form .input__box input {
  width: 100%;
}
.intro__form form .input__box .error__message {
  width: 100%;
  padding: 0.2rem 0;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
  color: #ff7a7a;
  display: none;
  opacity: 0;
}
.intro__form form .btn.btn__secondary {
  text-align: center;
  display: block;
}
.intro__form form .agree__statement {
  margin-top: 0.7rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.intro__form form .agree__statement span {
  color: #ff7a7a;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
