$color-primary: hsl(256, 26%, 20%);
$color-blue: hsl(216, 30%, 68%);

$color-dark-1: hsl(270, 9%, 17%);
$color-dark-2: hsl(273, 4%, 51%);
$color-light: hsl(0, 0%, 98%);

$default-font: 'Karla', sans-serif;
$heading-font: 'DM Serif Display', serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    background: #ffffff;
    font-family: $default-font;
    color: $color-dark-2;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

ul {
    list-style-type: none;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: 2px solid;
    &__light {
        border-color: $color-dark-1;
        color: $color-dark-1 !important;
        background-color: $color-light;
        &:hover {
            background-color: $color-dark-1;
            color: $color-light !important;
        }
    }
    &__primary {
        border-color: $color-light;
        color: $color-light !important;
        background-color: transparent;
        &:hover {
            color: $color-primary !important;
            background-color: $color-light;
        }
    }
}

.title{
    font-family: $heading-font;
    line-height: 1;
    font-weight: 400;
    &__main {
        padding-top: 4rem;
        font-size: 6rem;
        color: $color-light;
        margin-bottom: 2rem;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: 1px;
            background-color: $color-light;
        }
    }
    &__medium {
        font-size: 3rem;
        color: $color-dark-1;
        text-transform: capitalize;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}



// *****-----------******
// HEADER
// *****-----------******


.header {
    margin-bottom: 30rem;
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 1rem;
        ul {
            display: flex;
            li {
                &:not(:last-child) {
                    padding-right: 2rem;
                }
                a {
                    text-transform: uppercase;   
                    &:hover {
                        color: $color-dark-1;
                    }
                }
            }
        }
    }
}



// *****-----------******
// HERO
// *****-----------******


.hero {
    padding: 10rem 0;
    background-color: $color-primary;
    &::before,
    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    }
    &::before {
        background-image: url('../images/bg-pattern-intro-right-desktop.svg');
        background-position: right top;
    }
    &::after {
        top: 60%;
        background-image: url('../images/bg-pattern-intro-left-desktop.svg');
        background-position: left bottom;
    }
    
    &__content {
        max-width: 58rem;
        position: relative;
        z-index: 3;
        .title__main {
            max-width: 50rem;
        }
        p.paragraph {
            color: rgba($color-light,0.9);
            font-size: 1.6rem;
            margin-bottom: 3rem;
            line-height: 30px;
        }
    }

    &__image {
        top: 10rem;
        left: 50%;
    }
}


// *****-----------******
// WE ARE DIFFERENT SECTION
// *****-----------******

.different {
    padding: 2rem 0;

    .title__main {
        color: $color-dark-1;
        &::before {
            @media (max-width: 768px) {
                left :50%;
                transform: translateX(-50%);
            }
            background-color: $color-dark-2;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .list {
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__item {
            flex: 0 0 30%;
            .title__medium {
                margin-top: 2.5rem;
                margin-bottom: 2rem;
            }
            p.paragraph {
                color: $color-dark-2;
                font-size: 1.5rem;
            }
        }
    }
}

// *****-----------******
// HOW WE WORK
// *****-----------******

.work {
    margin: 7rem 0;
    &__content {
        background-color: $color-primary;
        background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
        background-repeat: no-repeat;
        background-position: right;
        padding: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:768px) {
            flex-direction: column;
            justify-content: center;
            background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
            .title__main {
                text-align: center;
            }
        }
        .title__main {
            color: $color-light;
            padding-top: 0;
            font-size: 5rem;
            max-width: 44rem;
            &::before {
                display: none;
                opacity: 0;
            }
        }
    }
}



// *****-----------******
// FOOTER
// *****-----------******

.footer {
    background-color: $color-light;
    padding: 7rem 0;
    background-image: url('../images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    @media (max-width:768px) {
        background-image: url('../images/bg-pattern-footer-mobile.svg');
        &__upper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .media__links {
                margin-top: 2rem;
            }
        }
        &__lower {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            ul {
                flex: 0 0 100%;
                margin: 0 auto;
                margin-bottom: 2rem;
                margin-right: auto;
                // &:not(:last-child) {
                    margin-right: auto !important;
                // }
            }
        }
    }
    &__upper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        .media__links {
            display: flex;
            a {
                &:hover {
                    svg path{
                        fill: $color-primary;
                    }
                }
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
    .divider {
        padding-bottom: 5rem;
        &::before {
            content: '';
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-blue;
        }
    }
    &__lower {
        display: flex;
        ul {
            li{
                margin-bottom: 1.2rem;
                &.title {
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    font-family: $default-font;
                    margin-bottom: 4rem;
                }
                a {
                    color: $color-dark-1;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &:not(:last-child) {
                margin-right: 20rem;
            }
        }
    }
}