@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  position: relative;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #9e9aa7;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title {
  color: #232127;
  line-height: 1.2;
  font-weight: 700;
}
.title__main {
  font-size: 6rem;
}
.title__medium {
  font-size: 3.4rem;
}
.title__small {
  font-size: 2.2rem;
}
.title__xsmall {
  font-size: 1.7rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 1.08rem 3rem;
  border-radius: 0.8rem;
  color: #35323e;
  font-size: 1.7rem;
  border: 0.2rem solid transparent;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-size: 1.6rem;
}

.btn {
  text-align: center;
}
.btn.nav-button {
  padding: 0.8rem 2.1rem;
}
.btn__primary {
  padding: 1.4rem 3.6rem;
  background-color: #2acfcf;
  color: #ffffff;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}
.btn__primary.nav {
  padding: 0.8rem 2.1rem;
}
.btn__primary.shorten {
  border-radius: 0.8rem;
}
.btn__primary:hover {
  background-color: #93e2e2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header .nav {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navigation__item:first-child {
  margin-right: 3.2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navigation__item:not(:last-child) {
  margin-right: 2.4rem;
}
.header .navigation__link {
  color: #9e9aa7;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}
.header .navigation__link:hover {
  color: #232127;
}
.header .button-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .hero {
  position: relative;
  min-height: 48.3rem;
  padding: 5rem 0;
  background-image: url("../images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: 110%;
}
.header .hero .title.title__main {
  max-width: 53rem;
}
.header .hero article {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem 0;
}
.header .hero p.paragraph {
  font-size: 1.8rem;
  max-width: 48rem;
  margin-bottom: 3rem;
}
.header .hero .btn.btn__primary {
  padding: 1.4rem 3.6rem;
  letter-spacing: 0.05rem;
}

.main {
  position: relative;
}
.main::before {
  content: "";
  position: absolute;
  top: 11.5rem;
  left: 0;
  width: 100%;
  height: calc(100% - 11.5rem);
  background-color: #EFF1F7;
  z-index: -1;
}
.main .advanced {
  padding: 5rem 0;
}
.main .advanced .shorten-box {
  padding: 4rem 4.8rem 1.25rem;
  border-radius: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  background: url("../images/bg-shorten-desktop.svg"), #3b3054 no-repeat;
}
.main .advanced .shorten-box .input-box {
  flex-basis: 82%;
  margin-right: 2rem;
}
.main .advanced .shorten-box .input-box input {
  width: 100%;
}
.main .advanced .shorten-box .input-box .error-message {
  padding-top: 0.5rem;
  font-size: 1.3rem;
  color: #f46262;
  font-style: italic;
  opacity: 0;
  visibility: hidden;
}
.main .advanced .shorten-box .input-box.error input {
  border-color: #f46262;
}
.main .advanced .shorten-box .input-box.error input::placeholder {
  color: #f46262;
}
.main .advanced .shorten-box .input-box.error .error-message {
  opacity: 1;
  visibility: visible;
}
.main .advanced .shorten-box .btn.btn__primary {
  flex: 1;
}
.main .advanced .statistics {
  margin: 10rem 0 7rem;
}
.main .advanced .statistics article {
  max-width: 53rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10rem;
}
.main .advanced .statistics article .title.title__medium {
  margin-bottom: 1.5rem;
}
.main .advanced .statistics article p.paragraph {
  font-size: 1.8rem;
}
.main .advanced .statistics .list {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.main .advanced .statistics .list::before {
  content: "";
  position: absolute;
  top: 42%;
  left: 1%;
  width: 98%;
  height: 0.8rem;
  background-color: #2acfcf;
}
.main .advanced .statistics .list__item {
  position: relative;
  padding: 8rem 3rem 3.6rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.main .advanced .statistics .list__item:nth-child(2) {
  margin-top: 5rem;
}
.main .advanced .statistics .list__item:last-child {
  margin-top: 10rem;
}
.main .advanced .statistics .list__item:not(:last-child) {
  margin-right: 3rem;
}
.main .advanced .statistics .list__item span.image {
  position: absolute;
  top: -4.2rem;
  width: 8.4rem;
  height: 8.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #3b3054;
}
.main .advanced .statistics .list__item .title.title__small {
  margin-bottom: 1.4rem;
}
.main .advanced .statistics .list__item p.paragraph {
  font-size: 1.6rem;
}

.boost {
  padding: 4rem 0;
  background: url("../images/bg-boost-desktop.svg"), #3b3054 no-repeat center;
  background-size: cover;
  text-align: center;
}
.boost .title.title__medium {
  color: #ffffff;
  margin-bottom: 3.2rem;
}

.footer {
  padding: 6rem 0;
  background-color: #232127;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__links {
  display: flex;
  align-items: flex-start;
}
.footer__links > li:not(:last-child) {
  margin-right: 9rem;
}
.footer__links > li .title.title__xsmall {
  color: #ffffff;
  margin-bottom: 2rem;
}
.footer__links > li .sub-links li:not(:last-child) {
  margin-bottom: 0.4rem;
}
.footer__links > li .sub-links li a {
  color: #bfbfbf;
  font-weight: 500;
  font-size: 1.6rem;
}
.footer__links > li .sub-links li a:hover {
  color: #2acfcf;
}
.footer__links > li.social .sub-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__links > li.social .sub-links li:not(:last-child) {
  margin-right: 2rem;
}

/*# sourceMappingURL=style.css.map */
